<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Welcome to DirectShifts </p>
    <p>
    someone has invited to DirectShifts <br>
    --------------------------
    </p>
    <p>complete sign to DirectShifts using this url: <%=  @referral_url %></p>

    <p> - DirectShifts team</p>
  </body>
</html>